.carousel {
  /* any dimensions are fine, it can be responsive with max-width */
  width: 50%;
  height: 50%;
  margin-left: 10px;
  margin-right: 20px;
}

@media only screen and (max-width: 768px) {
  .carousel {
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.carousel-inner {
  /* make sure your .items will get correct height */
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .w-100 {
    width: 100% !important;
    height: 65vh;
  }
}
